<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>
        <div>Input variables: {{ newval }} {{ val }}</div>
        <div>
            <h3>Lorem 100</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, enim. Similique sapiente porro provident
                nesciunt commodi dolores repellendus voluptate iste fugiat error veniam nam nobis et eveniet rem
                maiores, inventore cupiditate vero tempora hic magnam culpa ad distinctio? Exercitationem velit minima
                optio ad quaerat aut in, mollitia eos esse libero corrupti dignissimos ratione voluptatibus, ex neque
                minus ipsum molestiae voluptas consequatur adipisci quod dolor. Illum fuga sed, totam facilis inventore
                iusto at itaque, eos consequatur ad quasi! Quasi quaerat nisi iste aspernatur quod suscipit nam, debitis
                praesentium eos perferendis, cumque molestias voluptatibus repellat quo quas sint laudantium nostrum sed
                ab!</p>
        </div>
    </div> <!-- /container -->

</main>